.hero {
    width: 480px;
    
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px){
        width: 1200px; 
    }
    
    padding: 0;
    margin: 0 auto;
  
    text-align: center;

    background-color: $background-hero-color;

    &__title {
        margin: 0 auto 30px;
        
        font-weight: $large-main-font-size-weight;
        font-family: $main-font-family;
        font-size: $large-main-font-size;
        line-height: $large-main-font-line-hight;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: $hero-text-color;
    }
    // margin: 0 0 60px 0;
}

.hero-overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ), url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.hero-container {
    // height: 120px;
    // margin: 0 auto;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}

.hero__button {
    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
   @extend %main-button
}

