    $primary-text-color: #757575;
    $title-text-color:  #212121;
    $accent-color: #2196F3;
    $accent-color-card: rgba(33, 150, 243, 0.9);
    $hero-text-color: #FFFFFF;
    $transparent-color: rgba(255, 255, 255, 0.6);
    $icon-main-color:  #AFB1B8;

    $background-main-color: #E5E5E5; 
    $background-secondary-color: #F5F4FA;
    $background-hero-color: #C4C4C4;
    $background-hero-footer-color: #2F303A;
    $background-head-color: #FFFFFF;

    $animation-duration: 250ms;
    $animation-type: cubic-bezier(0.4, 0, 0.2, 1);

    $main-font-family: 'Roboto', sans-serif;

    $large-main-font-size-weight: 900;
    $large-main-font-size: 44px;
    $large-main-font-line-hight: 1.36;

    $upper-main-font-size-weight: 700;
    $upper-main-font-size: 16px;
    $upper-main-font-line-hight: 1.87;

    $middle-main-font-size-weight: 500;
    $middle-main-font-size: 14px;
    $middle-main-font-line-hight: 1.15;

    $small-main-font-size-weight: 400;
    $small-main-font-size: 12px;
    $small-main-font-line-hight: 1.7;

    $portfolio-title-size: 18px;
    $portfolio-line-hight: 2;
   
    $secondary-font-family: 'Raleway', sans-serif;
    $large-secondary-font-size-weight: 700;
    $large-secondary-font-size: 26px;
    $large-secondary-font-line-hight: 1.19;
